<h1>Filters</h1>

<div class="container">
  <div class="">
    <div class="row new-form">
      <div class="col-lg-6 left-bg-list">
      </div>
      <div class="col-lg-6 right-bg" >
        <%= render 'filter', build: @build %>
      </div>
    </div>
  </div>

</div>
