<div class="container">
  <h1>Discover the best Minecraft Builds</h1>
  <p>Find me in app/views/builds/index.html.erb</p>
  <div class=" pb-5">
      <%= render 'filter', build: @build %>
  </div>
</div>

  <div class="d-flex flex-wrap container">
    <% @builds.each do |build| %>
      <%= render build, build: build, lien: new_build_booking_path(build), name: "Rent" %>
    <% end %>
  </div>
</div>
