<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="bg-white p-5 w-65">
      <h3>Give all the information about your build </h3>
      <p>Time to make money with your creation</p>
      <%= render "create", build: @build %>
    </div>
  </div>
</div>
