<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="bg-white p-5 w-65">
      <div class="mb-5">
        <h3>Give all the information about your build </h3>
        <p><strong>Time to make money with your creation</strong></h5>
      </div>
      <%= render "create", build: @build %>
    </div>
  </div>
</div>
