<div class="p-2">
  <p class="fw-bold"><%= booking.build.title %></p>
  <p><span class="fw-bold">from</span> <%= booking.start_date %> <span class="fw-bold">to</span> <%= booking.end_date %></p>

  <p><span class="fw-bold">Total</span> <%= booking.build.price * (booking.end_date - booking.start_date).to_i %></p>
</div>
