
.navbar-bg-all {
  background: #1D1D1D;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #1D1D1D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.container {
  width: 80%;
  margin:0 auto;
}
