<nav class="navbar">
  <div class="container">
    <div class="navbar-lewagon">
    <img src="" alt="" id ="logo">
      <div id="right-side-navbar">
        <div id="navbar-create-build" >
          <i class="fa-solid fa-plus"></i>
          <a href="#"  id="button-navbar">Create your build</a>
        </div>
       <a href="#" id="login">Login</a>
      </div>
    </div>
  </div>
</nav>
