<nav class="bg-white pt-2 pb-2">
  <div class="container">
    <div class="d-flex justify-content-between p-3 align-items-center" >
      <%= link_to image_tag('logo.png'), '/', class:"align-items" %>
      <div class="d-flex">
        <div class="align-items-center text-center position-relative border border-primary">
          <i class="fa-solid fa-plus text-primary ps-2"></i>
          <%= link_to "Add your build", new_build_path(), class:"btn stretched-link text-primary"%>
        </div>
        <div >
          <% if current_user %>
            <%= button_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-primary ms-2" %>
          <% else %>
            <%= link_to "login", new_user_session_path(), class:"btn btn-primary ms-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
