<nav class="navbar">
  <div class="container">
    <div class="navbar-lewagon">
    <img src="" alt="" id ="logo">
      <div id="right-side-navbar">
        <div id="navbar-create-build" >
          <i class="fa-solid fa-plus"></i>
          <%= link_to "Add your build", new_build_path(),id: "button-navbar" %>
        </div>
        <% if current_user %>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-primary log" %>
        <% else %>
          <%= link_to "login", new_user_session_path(), class:"btn btn-primary log" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
